<% if user_signed_in? %>
	<h1>
		Hi, <%= current_user.name %>!
	</h1>
<% else %>
	<div class="hero-unit">
    	<h1>Welcome to Pin!</h1>
		<p>
			Create your own favorate pins and share!
		</p>
		<p>
			<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-large "%>
		</p>
		<p>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
		</p>
	</div>
<% end %>